@use "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");
body {
  background-color: variables.$posterBrown;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
}

.image_container {
  position: relative;
  width: 100%;
  .poster_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 100/148;
    background-color: variables.$posterLightBrown;
    z-index: -2;
  }
  .back_gallery {
    position: absolute;
    top: 21%;
    left: 23%;
    width: 55%;
    z-index: -1; // 背景画像を背面に配置
  }
  .poster_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 100/148;
  }
  .poster_main {
    width: 100%;
  }

  .prev_button,
  .next_button,
  .stop_button {
    position: absolute;
    top: 84%;
    width: 13%;
  }

  .prev_button {
    left: 18%;
  }

  .next_button {
    right: 16%;
  }

  .stop_button {
    left: 44%;
    top: 83%; // 位置をずらしたい場合は調整
  }
  .shuffle,
  .repeat {
    position: absolute;
    top: 91%;
    width: 8%;
  }
  .shuffle {
    left: 10%;
  }
  .repeat {
    top: 92%;
    left: 83%;
  }
  .next_button_animation {
    position: absolute;
    top: 84%;
    width: 13%;
    right: 16%;
  }
  .design_code,
  .design_number,
  .design_category {
    position: absolute;
    width: 13%;
  }
  .design_code {
    top: 30%;
    left: 11%;
    width: 10%;
  }
  .design_category {
    top: 55%;
    left: 11%;
    width: 15%;
  }
  .design_number {
    right: 13%;
    top: 30%;
  }
}
.sokatsu_overview {
  color: variables.$posterTextLightBrown;
  padding: 2rem;
  a {
    text-decoration: underline;
  }
  hr {
    color: variables.$posterLightBrown;
    border-width: 2px;
    border-style: dashed;
  }
  h1 {
    color: variables.$posterBlue;
    margin: 1rem auto;
  }
  div {
    margin-top: 1rem;

    h3 {
      color: variables.$posterBlue;
      font-size: 23px;
    }
    p {
      font-size: 18px;
    }
  }
  .designed_by {
    margin-top: 2rem;
    p {
      text-align: right;
      margin: 0;
      font-size: 14px;
    }
  }
}
//   // ビューポートの高さが800px以上の場合
//   @media (min-height: 700px) {
//     .prev_button,
//     .next_button,
//     .stop_button {
//       top: 98%; // 例として少し下に配置
//     }

//     .stop_button {
//       top: 97%; // stop_buttonだけ別に調整も可能
//     }
//     .shuffle,
//     .repeat {
//       top: 110%;
//     }
//     .next_button_animation {
//       position: absolute;
//       top: 98%;
//       width: 13%;
//       right: 16%;
//     }
//   }
// }
